# Note: Make sure you have a Impala warehouse that is set up so these fields are easy to complete.

### Test Environment field definitions
# These will all be gathered from impala warehouse or created by you.

# IMPALA_HOST: The impala host.
# IMPALA_PORT: Impala port.
# IMPALA_SCHEMA: Name of the schema to use for testing.
# IMPALA_USER: Username of database user.
# IMPALA_PASSWORD: Password used for your database user.
# IMPALA_HTTP_PATH: HTTP path configure for warehouse.

# Copy the following to a test.env, and replace example values with your information.
IMPALA_HOST=my_impala_host
IMPALA_PORT=my_impala_port
IMPALA_SCHEMA=my_schema
IMPALA_USER=my_user
IMPALA_PASSWORD=my_password
IMPALA_HTTP_PATH=my_http_path
